*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif;
}



/* --------------------- header section ----------------------------- */
header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-left: 150px;
    padding-right: 150px;
}
.header_left{
    display: flex;
    align-items: center;
}
.header_left ul{
    display: flex;
    margin-left: 40px;
}
.header_left ul li a{
    margin-left: 15px;
    font-size: 15px;
    color: black;
    font-weight: 600;
}
.header_right ul{
    display: flex;
    align-items: center;
}
.header_right ul li{
    margin-left: 15px;
}
.header_right ul li a{
    font-size: 15px;
    color: black;
    font-weight: 600;
}

/* -------------------------------------- hero section ---------------------------------------- */
.hero{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom, #afffcaa9, #a7fffb4d, #c7ffe3, #eefcffcc, #ffffff);
}
.hero_left{
    padding-left: 150px;
}
.hero_right{
    padding-right: 150px;
}
.hero_left_top span{
    color: rgb(0, 201, 0);
    font-weight: 600;
}
.hero_left_top h2{
    font-size: 50px;
    color: rgb(71, 0, 0);
}
.hero_left_top p{
    color: rgb(85, 85, 85);
    font-weight: 600;
}

.hero_left_bottom{
    margin-top: 50px;
}
.hero_price{
    display: flex;
    align-items: center;
}
.hero_left_bottom h3{
    font-size: 25px;
    color: #00c900;
}
.hero_price span{
    font-size: 21px;
    margin-left: 15px;
    color: gray;
    font-weight: 500;
}
.hero_left_bottom p{
    color: rgb(180, 180, 180);
    font-weight: 600;
    font-size: 14px;
}
.hero_left_bottom button{
    width: 150px;
    height: 50px;
    border: 2px solid #00c900;
    background-color: white;
    border-radius: 30px;
    color: black;
    font-weight: 600;
    margin-top: 20px;
    font-size: 15px;
}
.hero_right img{
    width: 450px;
}

/* ----------------------------------- product section ------------------------------- */
.produts{
    margin-top: 100px;
    padding-bottom: 100px;
    background-color: white;
    padding-left: 150px;
    padding-right: 150px;
}
.product_header{
    display: flex;
    justify-content: space-between;
}

.cards{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    width: 330px;
    box-shadow: 10px 9px 10px rgba(221, 221, 221, 0.288);
    padding-bottom: 20px;
}
.card img{
    height: 300px;
    width: 100%;
}
.card_details{
    background-color: white;
}
.card_details_top{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0px 10px;
}
.card_details_top div span{
    font-size: 12px;
    color: gray;
    font-weight: 600;
}
.card_details_top div h4{
    font-size: 20px;
    color: black;
    font-weight: 600;
}
.card_details_top div p{
    font-size: 10px;
    color: rgb(182, 182, 182);
    font-weight: 500;
}
.card_details_top h2{
    color: #00b600;
    font-size: 27px;
}

.card_details_bottom{
    padding: 0px 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.card_details_bottom div{
    display: flex;
    align-items: center;
}
.card_details_bottom div button{
    padding: 8px 10px;
    font-size: 12px;
    border: none;
    outline: none;
}
.card_details_bottom div button:first-child{
    background-color: #00b600;
    color: white;
    
}
.card_details_bottom div button:last-child{
    background-color: black;
    color: white;
}
.card_rating i{
    color: #e7e700;
}
.card_rating i:last-child{
    color: #dada84;
}

